body {
    background: url('beer.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato',sans-serif;
}

h1, h3{
    text-align: center;
}

#title, h3, h3.correctPicture {
    color: #dfcfb5;
}


.hidden{
	display: none;
}

.img_sizing{
	margin: auto 0;
}

.img_sizing:hover{
    opacity: 0.25;
}

.img_description{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    font-weight: bold;
    background-color: #808080;
    color: white;
    text-align: center;
}

img:hover{
    -webkit-box-shadow: -5px 2px 47px 13px rgba(242,248,250,1);
    -moz-box-shadow: -5px 2px 47px 13px rgba(242,248,250,1);
    box-shadow: -5px 2px 47px 13px rgba(242,248,250,1);
}

/*.vertical-alignment-help{
    display: table;
    height: 100%;
    width: 50%;
    left: 100px;
    text-align: center;
}

.vertical-align-center{
    display: table-cell;
    vertical-align: middle;
}*/

.wrapper_size{
    display: inline-block;
    position: relative;
}

.wrapper_size:hover .img_description{
    visibility: visible;
}

/* BreweryDB CSS */

#map {
    height: 400px;
    width: 100%;
    overflow:inherit;
}

.container .page-header{
    text-align: center;
}
.bar-list .col-md-9 .col-xs-12 {
    left: 160px
}
#more {
    width: 100%;
    margin: 5px 0 0 0;
}
#googleMapContainer{
    background-color: white;
    opacity: 0.80;
}



/*@-webkit-keyframes body {
=======
@-webkit-keyframes body {
>>>>>>> d519f43074bf76f38c233ae6f1f75fe0e3a02a7c
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes body {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes body { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
body{
	background: linear-gradient(266deg, #0bedb2, #58de8a, #4dd65c);
	background-size: 600% 600%;
    -webkit-animation: body 8s ease infinite;
    -moz-animation: body 8s ease infinite;
    animation: body 8s ease infinite;
}*/